/* CSS Document */
/*
#93c47dff this is the light green
#70ad47ff this is the dark green
#ff9900 this is yellow
*/

#tree {
	width: 100%;
}

/* NAVIGATION */
.navbar p, .navbar span, .navbar i {
	color: #ffffff;
	margin: 0;
}
.navbar-bg-colour {
	background-color: #232f3e;
}
#navbar-logo {
	width: 100px;
}
#btn_tree_display {
	background-color: #70ad47ff;
}

#purchase_toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#purchase_toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
	background-color: #70ad47ff;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

