/* CSS Document */
/*
#93c47d Light green
#70ad47 Medium green
#ff9900 Yellow
#00674b Dark Green
#252f3e Amazon Navy
#131921 Almost Black
*/

/* === GENERAL STYLING === */
.bg-green-dark {
	background-color: #00674b;
}
.bg-green-medium {
	background-color: #70ad47;
}
.text-green-medium {
	color: #70ad47; 
}
.text-white {
	color: #ffffff;
}
hr {
	background-color: #ff9900;
}

#tree {
	width: 100%;
}

/* === FONTS AND GENERAL TEXT === */
h1, h2, h3, h4, h5 {
	font-family: 'Fira Sans',sans-serif;
}
h1 {
	font-size: 72px;
	color: #70ad47;
	font-weight: bold;
}
p {
	font-family: 'Roboto', sans-serif;
}

/* NAVIGATION */
.navbar p, .navbar span, .navbar i {
	color: #ffffff;
	margin: 0;
}
.navbar-bg-colour {
	background-color: #252f32;
}
#navbar-logo {
	width: 125px;
}
#btn_tree_display {
	background-color: #70ad47ff;
}

#purchase_toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#purchase_toast.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
	background-color: #70ad47ff;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.btn-purchase {
	background-color: #ff9900;
	color: #ffffff;
}
.btn-purchase:hover {
	background-color: #70ad47;
	color: #ffffff;
}

/* === AMAZON GREEN PROGRAM EXPLANATION === */
#points_stats_display {
	padding: 20px 0;
}
#points_stats_display i, #points_display_impact i {
	font-size: 72px;
	color: #70ad47;
}
#points_stats_trees {
	font-size: 100px;
	color: #70ad47;
}

#points_stats_money, #points_stats_points {
	font-size: 50px;
	color: #70ad47;
}
.image_eco_product {
	width: 45px;
	padding-left: 7px;
}

/* === HEADER CAROUSEL STYLING === */
.carousel-caption {
	margin: 0;
	padding: 10px;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(19, 25, 33, 0.7);
}

.carousel-caption p {
	padding-bottom: 10px;
}

.carousel-indicators {
	height: 15px;
}

/* === MAP API === */
#map {
	height: 500px;
}

#map-border {
	border-style: dotted;
	border-color: #70ad47;
	padding: 15px;
}

.tree_icon {
	font-size: 30px;
	color: #00674b;
}

.card-img-top {
	height: 200px;
}

/* === FOOTER === */
footer {
	background-color: #252f3e;
	padding: 15px 0;
}
